<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.hjh.voltagemonitor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.hjh.voltagemonitor.Perspective"
            id="com.hjh.voltagemonitor.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Voltage Monitor"
            class="com.hjh.voltagemonitor.View"
            id="com.hjh.voltagemonitor.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.hjh.voltagemonitor.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="com.hjh.voltagemonitor.openWorkspaceConfig"
                  label="Configure Workspace"
                  style="push">
            </command>
         </menu>
         <menu
               label="Logging">
            <dynamic
                  class="com.hjh.voltagemonitor.actions.LogAction"
                  id="com.hjh.voltagemonitor.startlog">
            </dynamic>
         </menu>
         <command
               commandId="com.hjh.voltagemonitor.screenshot"
               label="Screenshot"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="voltagemonitor"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.hjh.voltagemonitor.application"
            name="voltagemonitor">
         <property
               name="appName"
               value="voltagemonitor">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.hjh.voltagemonitor.actions.OpenWorkspaceConfigHandler"
            id="com.hjh.voltagemonitor.openWorkspaceConfig"
            name="openWorkspaceConfig">
      </command>
      <command
            defaultHandler="com.hjh.voltagemonitor.actions.ScreenshotHandler"
            id="com.hjh.voltagemonitor.screenshot"
            name="Screenshot">
      </command>
   </extension>

</plugin>
